.Footer-Container {
  background-color: #434242;
}

.Footer-Container h2{
  display: block;
  color: white;
}

.Footer-Container hr{
  border-color: white;
  margin-left: 25%;
  margin-right: 25%;
}

.Contact {
  display: flex;
  margin-left: 40%;
  /* justify-content: center; */
  align-items: center;
}

.Contact p{
  color: white;
}

.icon {
  color: black;
  font-size: 30px;
  margin-right: 10px;
}